import os
import subprocess

# Install dependencies using pip
# Note: pip install --upgrade --force-reinstall is used to upgrade packages even if their versions are the same
subprocess.call(['pip', 'install', '--upgrade', '--force-reinstall', 'mediapipe>=1.12.2'])
subprocess.call(['pip', 'install', '--upgrade', '--force-reinstall', 'numpy>=1.23.5'])
subprocess.call(['pip', 'install', '--upgrade', '--force-reinstall', 'opencv-python>=4.10.1.30'])
subprocess.call(['pip', 'install', '--upgrade', '--force-reinstall', 'tensorflow>=2.11.0'])
subprocess.call(['pip', 'install', '--upgrade', '--force-reinstall', 'keras>=2.11.0'])
subprocess.call(['pip', 'install', '--upgrade', '--force-reinstall', 'streamlit>=1.14.0'])
subprocess.call(['pip', 'install', '--upgrade', '--force-reinstall', 'streamlit-webrtc>=0.9.4'])
subprocess.call(['pip', 'install', '--upgrade', '--force-reinstall', 'av>=8.2.0'])
subprocess.call(['pip', 'install', '--upgrade', '--force-reinstall', 'python-dotenv>=0.19.0'])

# Install requirements using pip
subprocess.call(['pip', 'install', '-r', 'PATH_TO_DEV_REQUIREMENTS'])
