pip install mediapipe==0.8.9
pip install numpy==1.19.5
pip install opencv-python==4.5.4
pip install tensorflow==2.7.0
pip install keras==2.7.0
pip install streamlit==1.2.0
pip install streamlit-webrtc==0.37.0
pip install av==8.0.3
pip install python-dotenv==0.19.0
development dependencies are not properly documented. However, it is recommended to isolate these with pip for versioning, thus 
pip install -e PATH_TO_DEV_REQUIREMENTS